/*
 * Ingresa el CSS del proyecto en este archivo
 */
/*
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*/
*{
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}

body {
  margin: 0 auto;
  font-size: 16px;
  background-color: ;
}

img {
  vertical-align: middle;
}

a {
  color: #373B47;
  text-decoration: none;
}

a:hover {
  color: #E95853;
  text-decoration:underline;
}

.link {
  font-weight: 700;
  padding:21px;/* agregar espacio entre los textos*/
  display: inline-block;/* crea cajas de bloque y en linea de forma simultanea */ 
}

.logo {
  float: right;
}

header {
  position:fixed;
  background: white;
  width: 100%;
  top: 0;
}

.menu {
  padding: 14px 70px;
  overflow: auto;
  
}

#home{
  background-image: url(../assets/images/bg-home.jpg);
  background-position:center;
  background-repeat: no-repeat;
  background-size:cover;
  height: 554px;
  text-align: center;
  margin-top: 80px;
}

#home .container{
  color: white;
  padding: 70px;
}

.text-home{
  font-size: 53px;
}

.btn-home{
  background: #2Ecc71;
  color: #fff;
  padding: 11px 20px;
  border-radius: 1px;
  font-weight: 500;
  text-transform: uppercase; 
  margin-top: 63px;
  display: inline-block;
  font-size: 14px;
}

#services{
  background-color: #F17C72;
  text-align: center;
  color: #fff;
  padding: 70px 7px;
}

.box-services{
  display:inline-block;
  width: 30%;
  margin-top: 63px;
}

.text-services{
  font-size: 35px;
  letter-spacing: 2px;
}





p{
  text-align: center;
}

footer{
  text-align:center;
  height: 70px;
  background-color: #373b47;
  color: white;
  padding-top: 7px;
}

/* MODAL SERVICES (BLANCA) */
#box-services-modal{
  background-color: rgba(240,30,80,0.85);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

#box-services-modal .modal-body{
  width: 60%;
  margin: 0 auto;
  text-align: center;
  padding: 100px;
}

#box-services-modal .modal-body h5,
#box-services-modal .modal-body h6{
  color: whitesmoke;
}
#box-services-modal .modal-body h5{
  font-size: 2em;
}
#box-services-modal .modal-body h6{
  font-size: 1em;
}

#box-services-modal .close{
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

#box-services-modal .close img{
  width: 60px;
}

.hide{
  display: none;
}

/* MODAL WORK */

#box-work-modal{
  background-color: rgba(46,204,113,0.85);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

#box-work-modal .modal-body{
  width: 60%;
  margin: 0 auto;
  text-align: center;
  padding: 100px;
}

#box-workwork-modal .modal-body h5,
#box-work-modal .modal-body h6{
  color: whitesmoke;
}
#box-work-modal .modal-body h5{
  font-size: 2em;
}
#box-work-modal .modal-body h6{
  font-size: 1em;
}

#box-work-modal .close{
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

#box-work-modal .close img{
  width: 60px;
}

.hide{
  display: none;
}
